body,
html {
  width: 100%;
  background-color: #fff9f3;
  font-family: "Arial", sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1250px;
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 300px;
}

.header-top {
  text-align: center;
  background: #454f5b;
  width: 1440px;
  height: 44px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header-top a {
  width: 156px;

  height: 26px;
  top: 9px;
  left: 1184px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;

  margin-left: 197px;
}
.header-top span {
  width: 535px;
  height: 26px;
  top: 9px;
  left: 452px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.header-main {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main .logo img {
  width: 50.4px;
  height: 42px;
}

nav a {
  width: 502px;
  height: 24px;
  top: 73px;

  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  text-decoration: none;
  color: #161c24;
  margin-left: 32px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.contact-info {
  display: flex;
  gap: 24px;
  align-items: center;
}

.contact-info span {
  margin-right: 15px;
}

.contact-info a img {
  height: 30px;
}

.breadcrumbs {
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
}
.m_top {
  display: flex;
  align-items: center;
  gap: 12px;
}
.m_top h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
.m_top p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
}
.main_t {
  display: flex;
  justify-content: space-between;
}
.main_left {
  display: flex;
  gap: 31px;
  align-items: center;
}
.main_left a {
  list-style: none;
  text-decoration: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #161c24;
}
.sena {
  display: flex;
  gap: 8px;
}
.main_left p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  display: flex;
  gap: 12px;
}
.main_left span {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.48px;
  color: red;
}
.main_left button {
  width: 288px;
  height: 40px;
  top: 286px;
  left: 100px;
  padding: 7px 72px 7px 72px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  border: 1px solid #add7ff;
  background: #ffffff;
}
.pop select {
  width: 194px;
  height: 40px;
  padding: 7px 16px;
  gap: 16px;
  border: 1px solid #000000;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #161c24;
}
.filter select {
  display: block;
  border: none;
  width: 240px;
  height: 50px;
  padding: 12px 0px 12px 0px;
  box-shadow: 0px -1px 0px 0px #ededed inset;
  box-shadow: 0px 1px 0px 0px #ededed inset;
  gap: 73px;
}
.filter {
  background-color: white;
  margin-top: 32px;
}
.filter input {
  width: 116px;
  height: 44px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #4295e4;
  margin-bottom: 16px;
}
.filter button {
  background-color: #3498db;
  color: white;
  border: none;

  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card {
  margin-top: 32px;
  width: 288px;
  height: 453px;
  padding: 12px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.product-card img {
  width: 288px;
}
.menu select {
  font-size: 20px;
  font-weight: 300;
  line-height: 23.87px;
  color: #161c24;
  border: none;
}
.availability {
  display: flex;
  gap: 114px;
  position: absolute;
  top: 17px;
  justify-content: space-between;
}
.availability span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.32px;
}

.in-stock {
  width: 99px;
  height: 24px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  z-index: 50;
  background-color: white;
}
.sale {
  width: 51px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  z-index: 50;
  background-color: white;
  justify-content: center;
}

.gift {
  top: 48px;
  z-index: 50;
  position: absolute;
  color: blue;
  width: 90px;
  height: 26px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  position: absolute;
  top: 12px;
  height: 320px;
}

.product-info {
  padding: 15px;
  text-align: left;
}

.rating {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.star {
  font-size: 16px;
  color: #ffb400;
}

.reviews {
  font-size: 12px;
  color: #666;
  margin-left: 5px;
}

.product-title {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.old-price {
  font-size: 16px;
  color: #999;
}
.product_mal {
  position: absolute;
  top: 320px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.tav {
  display: flex;
  gap: 30px;
}
.main_m {
  margin-top: 100px;
}
.main_f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_f img {
  width: 120px;
  height: 40px;
}
.information {
  margin-top: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  width: 605px;
  height: 402px;
}
.info h4 {
  width: 605px;
  height: 42px;

  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
.first_p {
  width: 605px;
  height: 96px;

  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.chek {
  gap: 32px;
  display: flex;
}
.chek label {
  display: block;
}
.last_p {
  margin-top: 24px;
  width: 605px;
  height: 128px;

  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.register {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register h3 {
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  margin-top: 64px;
}
.register p {
  margin-top: 0px;
  width: 518px;
  height: 52px;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.inputs {
  display: flex;
  width: 748px;
  height: 50px;
  margin-top: 24px;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed #3498db;
}
.inputs input {
  width: 240px;
  height: 48px;
  background: #161c240a;
  border: none;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
.inputs button {
  width: 220px;
  height: 50px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  line-height: 26px;
  background: #4295e4;
  border: none;
}
footer {
  margin-top: 56px;
  background: #0d2436;
  color: white;
  padding: 20px 0;
}
.button-box {
  display: flex;
  justify-content: space-between;
}
.footer-container {
  width: 1440px;
  height: 448px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-logo h2 {
  font-size: 36px;
  font-weight: bold;
}

.footer-nav ul,
.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-nav ul li,
.footer-info ul li {
  margin-top: 16px;

  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #484848;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  color: white;
}
.footer-nav h3,
.footer-info h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
